* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
    --font1: verdana, Geneva, tahoma, helvetica, sans-serif;
    --font2: 'passion one', cursive;
    --font3: 'Poppins', cursive;
}

html, body {
    font-size: 16px;
    font-family: var(--font1);
    width: 100%;
    height: 100%;
}

body {
    background: rgb(107, 172, 172);
}

header {
    background: #fff;
    position: relative;
    height: 100px;
    width: 100%;
}

header h1 {
    text-align: center;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 2.5em;
    position: absolute;
    left: 45%;
    top: 21%;
    margin: 5px;
}

.logo {
    width: 80px;
    height: 80px;
    margin: 5px;
    position: absolute;
    left: 20%;
    top: 6%;
    border-radius: 20%;
}

nav {
    background: black;
    float: left;
    width: 100%;   
    height: 40px;
}

nav a {
    color: white;
    list-style: none;
    position: relative;
    float: left;
    padding: 5px;
    margin-top: 4px;
    margin-right: 10px;
    transition-duration: 0.5s;
}

nav a:hover {
    color: black;
    background-color: rgb(107, 172, 172);
    border-radius: 3px;
    transition-duration: 0.5s;
}

a {
    color: black;
}

main {
    background: rgb(212, 206, 206);
    width: 80%;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 10px;
    padding: 15px;
    border-top-left-radius: 30px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 7px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.473);
}

article {
    text-align: justify;
    font-family: var(--font3);
}

article ul {
    color: rgb(106, 106, 226);
    margin: 7px;
}

article a {
    color: rgb(106, 106, 226);
    margin: 5px;
}

article a:hover {
    color: rgb(72, 109, 139);
}

aside {
    background:rgba(0, 0, 0, 0.473);
    border-radius: 10px;
    width: 150px;
    height: 100px;
    padding: auto;
    margin: 10px;
    position: relative;
}



footer {
    background: black;
    color: white;
    text-align: center;
    font-size: 10px;
    width: 100%;
    height: 60px;
    padding-top: 23px;
    position: absolute;
    bottom: 0;
}


.wrapper {
    width: 100%;
    min-width: 100%;
    max-width: 1024px;
    margin: auto;
}